{% extends 'base.html.twig' %}

{% block body %}
  {% block nav %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="width: 150px;" class="navbar-brand" href="{{ path('homepage') }}"><img src="/Resources/img/logoChan4u.png" style="width: 100%;" /></a>
      </div>
      <ul class="nav navbar-nav">
      <li><a href="{{ path('homepage') }}">Accueil</a></li>
      <li><a href="form">Poster un Article</a></li>
      <li><a href="formupload">Poster une Image</a></li>
      <li class="active"><a href="{{ path('gallery') }}">Gallerie</a></li>
      </ul>
    </div>
    </nav>
  {% endblock %}
</div>
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1">
  {% block container %}
    {% for advert in upload %}
    <div class="panel panel-primary">
    <div class="panel-heading"><h2>{{ advert.name }}</h2></div>
    <div class="panel-body"><img class="img-thumbnail" src="{{ asset(advert.webPath) }}"/></div>

    <div style="display: inline-flex;" class="container">
    {% for rate in like %}
    {% if rate.id_post == advert.id %}
    {{ rate.rate }}
    {% endif %}
    {% endfor %}
    <form method="post" name"rateform">
      <input name="rateup" type="image" src="/Resources/img/rate_up.png" id="rateup" value="rateup" />
      <input name="ratedown" type="image" src="/Resources/img/rate_down.png" id="ratedown"
      value="ratedown" />
      <input name="id_post" style="display:none;" id="id_post"
      value="{{ advert.id }}" />
    </form>
    </div>
        </div>
    {% endfor %}
  {% endblock %}
  </div>
  </div>
  </div>


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
